In [3]:
t = (10,)
print(t)
t = tuple( [1,2,3,4,5] )
print(type(t))
print(t)

(10,)
<class 'tuple'>
(1, 2, 3, 4, 5)

In [8]:
numbers = (1,2,3,4,5)
colors = ("red", "green", "blue")
t = numbers + colors
print(t)

(1, 2, 3, 4, 5, 'red', 'green', 'blue')

In [11]:
t1 = 'python', 'casdasw'
t2 = 1,2,3,4,5
t3 = "a", "b", "c"
print(type(t1))
print(type(t2))
print(type(t3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [6]:
t = (1,2, 'hello!')
u = t, (1,2,3,4,5)
print(u)
print(type(u))
print(type(t))

((1, 2, 'hello!'), (1, 2, 3, 4, 5))
<class 'tuple'>
<class 'tuple'>

In [12]:
student1 = ("철수", 19, "CS")
(name, age, major) = student1
print(name)
print(age)
print(major)
print(type(name))

철수
19
CS
<class 'str'>

In [18]:
number = {2, 1, 3}
print(number)

{1, 2, 3}

In [26]:
fruits = {"Apple", "Banana", "Pineapple"}
mySet = { 1.0, 2.0, "Hello World", (1,2,3)}
print(fruits)
print(mySet)

{'Apple', 'Banana', 'Pineapple'}
{1.0, 2.0, (1, 2, 3), 'Hello World'}

In [ ]:
# 세트는 집합이기 때문에 요소가 중복되면 자동으로 중복된 요소를 제거한다.
cities = { "Par", "Seo", "Lon", "Seo", "Berlin", "Lon"}
print(cities)

# 비어 있는 세트를 생성하려면 set() 함수를 사용한다.
numbers = set()

{'Seo', 'Lon', 'Berlin', 'Par'}